<div class="question-modal">
  <div class="close-bar">
    <div class="close-button" (click)="closeQuestion()">X</div>
  </div>
  <div class="question-container">
    <div class="question">
      {{question.question}}
    </div>
  </div>
  <ng-container *ngIf="user">
      <div class="timer-container">
          <div class="timer">
              <span *ngIf="seconds<10">0</span>{{seconds}}:<span *ngIf="centiSeconds<10">0</span>{{centiSeconds}}
          </div>
        </div>
        <div class="timer-container">
            <div class="timer">
                {{user}}
            </div>
          </div>
        <div class="button-container">
              <button class="button button2" (click)="success()">Success</button>
              <button class="button button2" (click)="error()">Error</button>
        </div>
  </ng-container>
</div>
