.question-modal{
    color:white;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgb(4,12,233);
    font-size: 30px;
}

.close-bar{
    width:100%;
    display: flex;
    justify-content: flex-end;
    .close-button{
        margin:20px;
    }
}

.question-container{
    width:100%;
    height:60%;
    display:flex;
    justify-content: center;
    .question{
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 3px solid rgba(0, 0, 0, 0.8);
        padding:10px;
    }
}

.timer-container{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    .question{
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 3px solid rgba(0, 0, 0, 0.8);
        padding:10px;
    }
}

.button-container{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}