*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #2a3698;
    padding: 10px;
    color: white;
}

.grid-item-header {
    font-size: 25px; 
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: yellow;
}

.grid-item {
    font-size: 50px; 
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: yellow;
}

.grid-item:hover{
    border: 3px solid yellow;
    background-color:#5b67cc !important;
}

.price{
    max-height:60px;
    font-size: 50px; 
}

.answer{
    max-height:90px;
    height:90px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size:10px;
    padding:5px 0px !important;
}

.teams{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 11;
    .team{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid white;
        padding: 5px;
        background-color: white;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        min-width: 100px;
        .name{
            border-bottom: 2px solid black;
            text-align: center;
            color: black;
            display: inline-block;
        }
        .points{
            background-color: #2a3698;
            color: #fff;
        }
    }
}