.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(4,12,233);
    padding: 10px;
    font-size: 30px;
    color: white;
}

.grid-container-column{
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(4,12,233);
    padding: 0px;
    color: yellow;
}

.price{
    max-height:60px;
    font-size: 50px; 
}

.answer{
    max-height:90px;
    height:90px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size:10px;
    padding:5px 0px !important;
}

.grid-item {
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}