<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; width:100%">
	<div class="grid-container" (click)="resetAll()">
		<div class="grid-item" *ngFor="let category of game">{{category.name}}</div>
	</div>
	<div class="grid-container">
		<div class="grid-container-column" *ngFor="let category of game">
			<div class="grid-item" *ngFor="let question of category.questions" (click)="openQuestion(question)"><b>${{question.points}}</b></div>
		</div>
	</div>
</div>
<app-question *ngIf="questionOpened" [question]="selectedQuestion" (onClose)="closeQuestion()"></app-question>
